#fruits li{
    position: relative;
    text-align: center;
    border: 35px solid red;
    padding: 10px;
    margin: 10px;
}

#fruits li p {
    position: absolute;
    top: 530px;
    left: 40%;
    padding: 0 10px;
    font-size: 20px;
}

#fruits li p1 {
    position: absolute;
    top: 535px;
    left: 40%;
    padding: 0 10px;
    font-size: 20px;
}

#mainDiv{
    padding: 10px;
    border: 3px solid black;
}

#fruits{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    padding: 0;
    margin: 0;
}

#cherry{
    text-align: center;
}

#watermelon{
    text-align: center;
    padding-top: 80px;
}

#banana{
    text-align: center;
    padding-left: 0px;
}

#mango{
    padding-top: 20px;
    text-align: center;
}
