#mainDiv {
    background-color: lightblue;
    display: inline-block;
    border: 3px solid black;
  }
  
#fruits li {
  display: flex;
  align-items: center;
}

#cherry img{
    padding-right:52px;
    padding-left: 100px;
}

#watermelon img{
    width: 500;
    padding-left: 50px;
    padding-right: 0px;
}

#banana img{
    padding-right: 40px;
}

#mango img{
    padding-right: 12px;
    width: 540;
}
  